<!--suppress HtmlUnknownTarget -->
<div id="container" class="center-body">

  <div ng-hide="error">
    <div ng-show="characterLoaded">
      <div class="halve-left">
        <h1 class="color-class-{{className}}">{{character.name}}</h1>
        <p style="color:white">{{ character.realm }}</p>
        <div class="img-container">
        <img class="wow-character-thumbnail" ng-src="http://us.battle.net/static-render/us/{{character.thumbnail}}" alt="character portrait" /><!-- TODO: Change these so they don't send a request with just a string (move the entire address to controller) -->
        <img class="class-icon" ng-src="http://us.media.blizzard.com/wow/icons/36/class_{{className}}.jpg" alt="class icon" />
        <img class="spec-icon" ng-src="http://us.media.blizzard.com/wow/icons/36/{{selectedTalent.spec.icon}}.jpg" alt="spec icon" />
        </div>
        <table class="equipment-table">
          <thead>
            <tr>
              <th>Slot</th>
              <th>Item</th>
            </tr>
          </thead>
          <tr ng-hide="item > 0" ng-repeat="item in character.items">
            <td class="slot-name-column">{{getSlotName($index)}}</td>
            <td ng-class="tableAudit(item, $index)"><a href="http://wowhead.com/item={{item.id}}" target="_blank" class="{{getItemQuality(item)}}" rel="item={{item.id}},ench={{item.tooltipParams.enchant}},gems={{item.tooltipParams.gem0}},bonus={{bonusIdFormatter(item)}}">{{item.name}}</a></td>
          </tr>
        </table>
      </div>
      <div class="halve-right" ng-controller="BossPrioritizerController">
        <div id="upgradeSearchContainer">
      <!-- Bootstrap Dropdown http://getbootstrap.com/components/#dropdowns -->
          <div class="dropdown" style="display:inline-block;padding-top:10px">
            <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
              {{selectedRaid}}
              <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
              <li style="cursor:pointer" ng-repeat="raid in raids"><a ng-click="selectRaid(raid)">{{raid}}</a></li>
            </ul>
          </div>
      <!-- Bootstrap Button Group http://getbootstrap.com/components/#btn-groups-single -->
          <div class="btn-group" style="display:inline-block;padding:10px" data-toggle="buttons">
            <label class="btn btn-primary" ng-click="toggleDifficulty(difficulty.name)" ng-repeat="difficulty in difficulties"> <!-- TODO: Bind better -->
              <input type="checkbox">
              {{difficulty.name}}
            </label>
          </div>
          <input type="button" class="btn" ng-click="findUpgrades()" value="Search">
        </div>
        <div id="resultTable">
          <!-- jotting this down while i think i know what i want:
          radio buttons above table: all upgrades, most upgrades, most upgrades per eligible loot, best quality upgrades
          all upgrades will be rendered seperately as a simple list
          other radios will render a hierarchy table with bosses showing:
          upgrades, upgrades/eligible loot ratio, and a sum of the value of all upgrades for that boss

          OR
          could do two radio buttons, one for 'show by item' and one for 'show by boss'
          then another set for sorting.
          -->
          <p>Sort By:</p>
          <div class="btn-group" data-toggle="buttons">
            <label style="display:block">
              <input type="radio" ng-model="upgradeDisplayType" ng-value="displayType.most" name="options" id="option1" autocomplete="off"> Most Upgrades
            </label>
            <label style="display:block">
              <input type="radio" ng-model="upgradeDisplayType" ng-value="displayType.mostPerLoot" name="options" id="option2" autocomplete="off"> Most Upgrades/Eligible Loot
            </label>
            <label style="display:block">
              <input type="radio" ng-model="upgradeDisplayType" ng-value="displayType.mostQuality" name="options" id="option3" autocomplete="off"> Highest Quality Loot
            </label>
            <label style="display:block">
              <input type="radio" ng-model="upgradeDisplayType" ng-value="displayType.all" name="options" id="option3" autocomplete="off"> All Upgrades
            </label>
          </div>
          <table class="equipment-table" id="lootTableByBoss">
            <thead>
              <tr>
                <th>Boss</th>
                <th>Upgrades</th>
                <th>Ratio</th>
                <th>Value</th>
              </tr>
            </thead>
          </table>
          <table id="lootTableByAll">

          </table>
        </div>
      </div>
    </div>
  </div>
  <div ng-show="error">
    <p>ERROR, please check spelling and region and try again.</p>
  </div>
</div>
<div class="loading-icon" ng-show="characterLoading"><img src="images/loader.gif" alt="loading"/></div>

