.equipment-table {
  color:white;
  text-decoration: none;
  background-color: rgba(0,0,0,0.7);
  border: solid 2px black;
  border-collapse: collapse;
}

.equipment-table table, th, td {
  border: 1px solid black;
  min-width:50px;
  padding: 0 5px;
}

.equipment-table a {
  text-decoration: none;
  display: inline-block;
}

.enchant-needed {
  background-color: brown;
}

.quality_9 {
  color: #71D5FF;
}
.quality_8 {
  color: #FFFF98;
}
.heirloom {
  color: #E5CC80;
}
.artifact {
  color: #E5CC80;
}
.legendary {
  color: #ff8000;
}

.epic {
  color: #c600ff;
}

.rare {
  color: #0081ff;
}
.uncommon {
  color: #1EFF00;
}
.common {
  color: #FFFFFF;
}
.poor {
  color: #9D9D9D;
}


.slot-name-column {
  text-align:center;
}

.loading-icon {
  height: 100%;
  width: 100%;
  background-color: rgba(255,255,255,0.6);
  position: absolute;
  text-align:center;
  top:0;
}

.loading-icon img {
  margin-top:21%
}

.halve-left {
  width:40%;
  float:left;
  padding-left: 10px;
}

.halve-left > h1 {
  margin-bottom: 0;
}

.halve-left > p {
  margin-top: 0;
}

.halve-right {
  width:40%;
  float:right;
  padding-right: 10px;
}

.img-container {
  background-color: rgba(0,0,0,0.3);
  border: solid 2px black;
  display:inline-block;
  padding:10px;
}

.wow-character-thumbnail {
  display:block;
  padding-bottom:10px;
}

.class-icon {
  float:left;
}

.spec-icon {
  float:right;
}

.resultBox {
  overflow: scroll;
  width:50%;
  height: 650px;
}

.body {
  background-image: url("../images/wow_bg_wod.jpg");
  background-color: black;
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto 100%;
  background-attachment: fixed;
  margin:0;
}

.header {
  background-color: black;
  height: 10%
}

.header div {
  text-align:center;
}

.header input {
  height:100%;
  margin:10px;
  font-size:20px;
}

.header select {
  margin: 10px 0;
  border: 2px;
}

.center-body {
  background-color: rgba(100,100,100,0.8);
  width:75%;
  margin:0 auto;
  min-height:650px;
}

.footer {

}

/* Branding Colors */
.color-class-death-knight {
  color: #c41e3b;
}
.color-class-druid {
  color: #ff7c0a;
}
.color-class-hunter {
  color: #ABD473;
}
.color-class-mage {
  color: #69CCF0;
}
.color-class-monk {
  color: #00FF96;
}
.color-class-paladin {
  color: #F58CBA;
}
.color-class-rogue {
  color: #FFF569;
}
.color-class-shaman {
  color: #0070DE;
}
.color-class-warlock {
  color: #9482C9;
}
.color-class-warrior {
  color: #C79C6E;
}
